.custom-overlay {

}

.custom-modal {
    border-radius: 1em;
    background: var(--backgroundColor);
    width: 500px;
    max-height: 60%;
}

.find-token { 
    margin: 20px 0 5px 0;

    input {
        width: 100%;
    }
}

.tokenlist {
    &-token {
        margin-top: 5px;
    }
}